.card {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  padding: 30px 0 30px 20px;
}
.city {
  font-size: 45px;
  font-family: "Libre Franklin", sans-serif;
}
.country {
  font-size: 22px;
  opacity: 0.5;
  font-family: "Libre Franklin", sans-serif;
}
.day {
  font-size: 15px;
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
}
.degree {
  font-size: 30px;
  font-family: "Libre Franklin", sans-serif;
}
.list {
  margin-left: 20px;
  margin-top: 12px;
  font-size: 15px;
  font-family: "Libre Franklin", sans-serif;
}
.section {
  margin: 50px;
}
.week {
  font-family: "Libre Franklin", sans-serif;
}
.icon {
  font-size: 30px;
}
.fah {
  color: black;
  text-decoration: none;
}
.cel {
  color: black;
  text-decoration: none;
}
